


h1 {
    color: brown;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

a {
    color: #78b941;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form {
    width: 300px;
    margin: 0 auto;
}

input[type='text'], input[type='email'], input[type='password'] {
    width: 100px;
    border-radius: 2px;
    border: 1px solid #CCC;
    padding: 10px;
    color: #333;
    font-size: 12px;
    margin-top: 10px;
}

input[type='submit'] {
    padding: 10px 25px 8px;
    color: #fff;
    background-color: #c25e48;
    text-shadow: rgba(0, 0, 0, 0.24) 0 1px 0;
    font-size: 12px;
    box-shadow: rgba(255, 255, 255, 0.24) 0 2px 0 0 inset, #fff 0 1px 0 0;
    border: 1px solid #c25e48;
    border-radius: 2px;
    margin-top: 10px;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #c25e48;
}

.txt-heading {
    padding: 5px 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #999;
}

.btnRemoveAction {
    color: #D60202;
    border: 0;
    padding: 2px 10px;
    font-size: 0.9em;
}

#btnEmpty {
    background-color: #D60202;
    border: 0;
    padding: 1px 10px;
    color: #FFF;
    font-size: 0.8em;
    font-weight: normal;
    float: right;
    text-decoration: none;
}

.btnAddAction {
    background-color: #79b946;
    border: 0;
    padding: 3px 10px;
    color: #FFF;
    margin-left: 1px;
}

#shopping-cart {
    border-top: #f5b8c3 2px solid;
    margin-bottom: 30px;
}

#shopping-cart .txt-heading {
    background-color: #f5b8c3;
}

#shopping-cart table {
    width: 100%;
    background-color: #F0F0F0;
}

#shopping-cart table td {
    background-color: #FFFFFF;
}

.cart-item {
    border-bottom: #79b946 1px dotted;
    padding: 10px;
}

#product-grid {
    border-top: #F08426 2px solid;
    margin-bottom: 30px;
}

#product-grid .txt-heading {
    background-color: #f5b8c3;
}

.product-item {
    float: left;
    background: #F0F0F0;
    margin: 15px;
    padding: 5px;
}

.product-item div {
    text-align: center;
    margin: 10px;
}

.product-price {
    color: #F08426;
}

.product-image {
    height: 5px;
    width: auto;
    background-color: #FFF;
}
div.img {
		border: 1px solid #ccc;
}

div.img:hover {
		border: 1px solid #777;
}

div.img img {
		width: 100%;
		height: 150px;
}

div.desc {
		padding: 15px;
		text-align: center;
}

* {
		box-sizing: border-box;
}

.responsive {
		padding: 0 6px;
		float: left;
		width: 24.99999%;
		height: 150px;
}

@media only screen and (max-width: 700px) {
		.responsive {
				width: 49.99999%;
				margin: 6px 0;
		}
}

@media only screen and (max-width: 500px) {
		.responsive {
				width: 100%;
		}
}

.clearfix:after {
		content: "";
		display: table;
		clear: both;
}
