   body{
     background: url(product-images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
   }
p.serif {
	 font-weight: 1000;
	 font-size:200;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: black;

}

img {
    border: 2px solid;
    border-radius: 25px;
	
}
