.btn{
	
}
/*center header*/
#centerHeader {
    text-align: center;
}
#applyNow {
    text-align: center;
}


/*image slideshow*/
#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 150px; 
    height: 150px; 
    padding: 3px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 6px; 
    left: 6px; 
    right: 6px; 
    bottom: 6px; 
}
.middle {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
#profile_leftPanel {<!-- w  w  w .j  a  v a2s.  c om-->
  width: 150px;
  float: left;
  border-right: 1px;
  margin-right: 20px;
}

#profile_rightPanel_center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#recentStatus {
  width: 400px;
  text-align: center;
  display: inline;
}

#profile_rightPanel {<!-- w  w  w .j  a  v a2s.  c om-->
  width: 150px;
  float: right;
  border-left: 1px;
  margin-left: 20px;
}

#profile_leftPanel_center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#idkStatus {
  width: 400px;
  text-align: center;
  display: inline;
  
#rightandleft {
    border-width:5px;	
    border-right-style:outset;
}

#content{
         width: 700px;
         display: block;
         height: auto;
     }
     #content > img{
        float: left; width: 200px;
        height: 200px;
        margin: 5px 8px;
     }

#container {
width: 500px;
height: 300px;
overflow: hidden;
border: 3px double #000;
white-space: nowrap;
}

#container img {display: inline-block; margin: 0 100px;}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:	#808080;
}
font {
    font-family: 'YourFontName';
}